<div class="h-full w-full flex min-h-screen">
    <!-- <div class="bg-[#2d374e] w-48 h-[100vh] z-[1000] relative text-cyan-50">
        <div class="pt-10 flex flex-col gap-3 px-4">
            <span class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                        d="M12.516 2.17a.75.75 0 0 0-1.032 0 11.209 11.209 0 0 1-7.877 3.08.75.75 0 0 0-.722.515A12.74 12.74 0 0 0 2.25 9.75c0 5.942 4.064 10.933 9.563 12.348a.749.749 0 0 0 .374 0c5.499-1.415 9.563-6.406 9.563-12.348 0-1.39-.223-2.73-.635-3.985a.75.75 0 0 0-.722-.516l-.143.001c-2.996 0-5.717-1.17-7.734-3.08Zm3.094 8.016a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                        clip-rule="evenodd" />
                </svg>
                My TODO
            </span>
        </div>
    </div> -->
    <div class="w-full h-full min-w-0 block flex-grow px-4">
        <div class="navbar z-[9999] justify-end relative">
            <div class="flex-none">
                <div class="dropdown dropdown-end text-neutral-950">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                        <div class="w-10 rounded-full">
                            <img alt="Tailwind CSS Navbar component"
                                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                        </div>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content rounded-box z-[1] mt-3 w-52 p-2 shadow bg-slate-500">
                        <li><a class="justify-between">Profile</a></li>
                        <hr>
                        <li (click)="logOut()"><a>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <router-outlet class="block-expand-sibling"></router-outlet>
    </div>
</div>