<div class="h-full w-full flex overflow-auto">
    <div class="w-full h-full flex-grow px-4">
        <div class="flex flex-col gap-6">
            <form [formGroup]="taskCreate">
                <div tabindex="0" class="collapse collapse-open border-base-300 bg-base-200 border"
                    [ngClass]="isCollapsed()? 'h-40	': ''">
                    <div class="collapse-title text-base font-medium text-[#7f97db]" (click)="toggleCollapse()">
                        <div *ngIf="!isCollapsed()" class="flex gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="size-6">
                                <path fill-rule="evenodd"
                                    d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span>Add a task</span>
                        </div>
                        <input *ngIf="isCollapsed()" formControlName="task" tabindex="0" type="text"
                            placeholder="Add a task" class="input border-none w-full"
                            (click)="$event.stopPropagation()" />
                    </div>
                    <div class="collapse-content flex justify-between custom-collapse" *ngIf="isCollapsed()">
                        <div class="flex gap-3 items-center">
                            <div class="flex gap-1 items-center">
                                <label for="due">Due:</label>
                                <p-calendar id="due" [style]="calendarStyle" formControlName="dueDate"
                                    [iconDisplay]="'input'" appendTo="body" [showIcon]="true" inputId="icondisplay"
                                    class="input input-bordered input-sm w-full max-w-xs" />
                            </div>
                            <div class="flex gap-3 items-center">
                                <label for="due">Priority:</label>
                                <select class="select select-bordered select-sm w-full max-w-xs"
                                    formControlName="priority">
                                    @for (item of priorityOptions; track $index) {
                                    <option [value]="item">{{item}}</option>
                                    }
                                </select>
                            </div>
                            <div class="flex gap-3 items-center">
                                <label for="due">Status:</label>
                                <select class="select select-bordered select-sm w-full max-w-xs"
                                    formControlName="status">
                                    @for (item of stateOptions; track $index) {
                                    <option [value]="item">{{item}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-active btn-ghost" (click)="addTask()">ADD</button>
                    </div>
                </div>
            </form>
            <div class="w-full">
                @defer () {
                <app-task-list-view [reload]="reload()"
                    (onEditId)="itemEditId.set($event); sidebar.set(true)"></app-task-list-view>
                }
            </div>
        </div>
    </div>
    <div *ngIf="sidebar()" class="bg-slate-100 w-96 relative">
        <div class="pt-10 flex flex-col gap-3 px-4">
            <span class="text-lg font-semibold">
                My TODO
            </span>
            <form [formGroup]="updateTask">
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text font-semibold">Task</span>
                    </div>
                    <input type="text" placeholder="Task" formControlName="task"
                        class="input input-bordered w-full max-w-xs" />
                </label>
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text font-semibold">Due</span>
                    </div>
                    <p-calendar [style]="sideBarCalendarStyle" formControlName="dueDate" id="due"
                        [iconDisplay]="'input'" appendTo="body" [showIcon]="true" inputId="icondisplay"
                        class="input input-bordered w-full max-w-xs" />
                </label>
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text font-semibold">Priority</span>
                    </div>
                    <select formControlName="priority" class="select select-bordered w-full max-w-xs">
                        @for (item of priorityOptions; track $index) {
                        <option [value]="item">{{item}}</option>
                        }
                    </select>
                </label>
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text font-semibold">Status</span>
                    </div>
                    <select formControlName="status" class="select select-bordered w-full max-w-xs">
                        @for (item of stateOptions; track $index) {
                        <option [value]="item">{{item}}</option>
                        }
                    </select>
                </label>
                <div class="flex mt-3 gap-2 w-full">
                    <button class="btn btn-active btn-ghost w-[50%]" (click)="updateTaskById()">SAVE</button>
                    <button class="btn btn-neutral w-[50%]"
                        (click)="sidebar.set(false); reload.set(false)">CANCEL</button>
                </div>
            </form>
        </div>
    </div>
</div>