<router-outlet />
<div class="toast toast-center z-[99999]">
    @for (message of toastService.toastMessage; track $index) {
    @let color = message.color === eToastColor.SUCCESS ? 'alert-success' : message.color === eToastColor.ERROR ? 'alert-error' : 'alert-warning';
    <div class="alert p-3 min-w-max" [ngClass]="color">
        <div class="flex items-center w-full gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-5 w-5 mt-[2px]" fill="none"
                viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    *ngIf="message.color === eToastColor.SUCCESS" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    *ngIf="message.color === eToastColor.ERROR"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    *ngIf="message.color === eToastColor.WARN"
                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z">
                </path>
            </svg>
            <span class="text-sm font-semibold max-w-[80vw] text-wrap text-left">{{message.text}}</span>
            <span class="text-xs rounded-full cursor-pointer ml-auto hover:scale-125 hover:font-extrabold mt-[2px] pl-2"
                (click)="toastService.closeError(message)" (keypress.enter)="toastService.closeError(message)"
                tabindex="-1">✕
            </span>
        </div>
    </div>
    }
</div>