<div class="w-full">
    <p-table [value]="tasks">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th [width]="800">Task </th>
                <th [width]="300">Priority</th>
                <th [width]="300">Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-taskItem let-columns="columns">
            <tr>
                <td [width]="800">
                    {{taskItem.task}}
                </td>
                <td>
                    <p-tag [value]="taskItem.priority" [severity]="getPrioritySeverity(taskItem.priority)" />
                </td>
                <td>
                    <p-tag [value]="taskItem.status" [severity]="getStatusSeverity(taskItem.status)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>